<section class="oursersection">
  <div class="webcontainer row">
    <h2 class="secthead center">OUR SERVICES</h2>
    <p class="sectpara center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="col-md-12 col-sm-12">
      <div class="col-md-4 col-sm-6">
        <div class="ourserbox">
          <div class="ourserboximg">
            <img src="../../assets/images/our1.png" alt="our">
          </div>
          <h4>economical products</h4>
          <span>-------</span>
          <p>The client wanted to develop a cashback platform that allows</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="ourserbox">
          <div class="ourserboximg">
            <img src="../../assets/images/our2.png" alt="our">
          </div>
          <h4>economical products</h4>
          <span>-------</span>
          <p>The client wanted to develop a cashback platform that allows</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="ourserbox">
          <div class="ourserboximg">
            <img src="../../assets/images/our3.png" alt="our">
          </div>
          <h4>economical products</h4>
          <span>-------</span>
          <p>The client wanted to develop a cashback platform that allows</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="ourserbox">
          <div class="ourserboximg">
            <img src="../../assets/images/our4.png" alt="our">
          </div>
          <h4>economical products</h4>
          <span>-------</span>
          <p>The client wanted to develop a cashback platform that allows</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="ourserbox">
          <div class="ourserboximg">
            <img src="../../assets/images/our5.png" alt="our">
          </div>
          <h4>economical products</h4>
          <span>-------</span>
          <p>The client wanted to develop a cashback platform that allows</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="ourserbox">
          <div class="ourserboximg">
            <img src="../../assets/images/our6.png" alt="our">
          </div>
          <h4>economical products</h4>
          <span>-------</span>
          <p>The client wanted to develop a cashback platform that allows</p>
        </div>
      </div>
    </div>
  </div>
</section>