<section class="secbannersection">
		<img src="../../assets/images/banner/lemon2.png" alt="lemon" class="bannerlemon onelemon">
		<div class="webcontainer">
			<h2>Webapp Cart</h2>
		</div>
		<img src="../../assets/images/banner/lemon1.png" alt="lemon" class="bannerlemon twolemon">
	</section>

	<section class="carttablesection">
		<div class="webcontainer">
			<div class="cartcontent row">
				<table class="carttable">
					<thead>
						<tr>
							<th>no</th>
							<th class="cartpname">product</th>
							<th>price</th>
							<th>quantity</th>
							<th>total</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>vegetable</td>
							<td>100</td>
							<td>
								<div class="cartact">
									<button>-</button>
									<input type="text" name="" value="12">
									<button>+</button>
								</div>
							</td>
							<td>5000</td>
						</tr>
						<tr>
							<td>2</td>
							<td>vegetable</td>
							<td>100</td>
							<td>
								<div class="cartact">
									<button>-</button>
									<input type="text" name="" value="12">
									<button>+</button>
								</div>
							</td>
							<td>5000</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td colspan="5">
								<div class="center cartfull row">
									<div class="carthalf">
										<input type="text" name="" class="coupontext" placeholder="coupon">
										<button class="couponbtn">apply coupon</button>
									</div>
									<div class="carthalf">
										<button class="cartupbtn">update cart</button>
										<a routerLink="../checkout" class="checkoutbtn"><i class="fa fa-check-square-o" aria-hidden="true"></i> checkout</a>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>

	<section class="cartchecksection">
		<div class="webcontainer row">
			<div class="cartcheckcontent boxfull">
				<div class="boxsix">
					<div [formGroup]="cartform" class="cartform">
						<div class="cartformmodal">
							<select2 [data]="countrydata" (valueChanged)="countrychanged($event)" [value]="India" [cssImport]=true>
							</select2>
						</div>
						<div class="cartformmodal">
							<select2 [data]="statedata" (valueChanged)="statechanged($event)" [value]="TamilNadu" [cssImport]=true>
								
							</select2>
						</div>
						<div class="cartformmodal">
							<input type="text" ngmodel formControlName="cityname" class="cartformtext" value="test123" placeholder="City Name" required>
						</div>
						<div class="cartformmodal">
							<input type="number" formControlName="pincode" class="cartformtext" placeholder="Pincode" required>
						</div>
						<div class="cartformmodal">
							<button class="cartformbtn" (click)="updatecart()">Update Total</button>
						</div>
					</div>
				</div>
				<div class="boxsix">
					<table class="cartchecktable">
						<tbody>
							<tr>
								<td>sub total</td>
								<td>5500</td>
							</tr>
							<tr>
								<td>shipping</td>
								<td>
									<div class="cartaddress">
										<label class="cartshipamt"><span></span>Free shipping</label>
										<label class="cartshipamt checkamt"><span></span>Local pickup: 20</label>
										<label class="cartshipseramt">Service charge : 50</label>
										<p>Shipping to <span *ngIf="!boxpincode == ''">{{boxcityname}},{{stateselected}},{{countryselected}},{{boxpincode}}</span></p>
									</div>
								</td>
							</tr>
							<tr>
								<td>total</td>
								<td>6000</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>