<section class="secbannersection hidenow">
  <img src="images/banner/lemon2.png" alt="lemon" class="bannerlemon onelemon">
  <div class="webcontainer">
    <h2>Webapp Account</h2>
  </div>
  <img src="images/banner/lemon1.png" alt="lemon" class="bannerlemon twolemon">
</section>

<section class="accountsection">
  <div class="webcontainer">
    <div class="accountcontent">
      <div class="loginform">
        <h2 class="accounthead">Signin Your Account</h2>
        <div class="formgroup">
          <label>email / phone</label>
          <input type="text" class="formtext">
        </div>
        <div class="formgroup">
          <label>password</label>
          <input type="password" class="formtext">
        </div>
        <div class="formgroup center">
          <button class="accountbtn">login</button>
        </div>
        <div class="accountflex formgroup">
          <button class="ccountchange">create new account</button>
          <button class="forgotbtn">forgot password</button>
        </div>
      </div>
      <div class="createform">
        <h2 class="accounthead">Create New Account</h2>
        <div class="formgroup">
          <label>email</label>
          <input type="text" class="formtext">
        </div>
        <div class="formgroup">
          <label>phone</label>
          <input type="text" class="formtext">
        </div>
        <div class="formgroup">
          <label>password</label>
          <input type="password" class="formtext">
        </div>
        <div class="formgroup right">
          <button class="ccountchange">signin</button>
        </div>
        <div class="formgroup center">
          <button class="accountbtn">create account</button>
        </div>
      </div>
      <div class="passwordchangeform">
        <h2 class="accounthead">Create New Account</h2>
        <div class="formgroup">
          <label>new password</label>
          <input type="text" class="formtext">
        </div>
        <div class="formgroup">
          <label>conform password</label>
          <input type="password" class="formtext">
        </div>
        <div class="formgroup center">
          <button class="accountbtn">change password</button>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modalsection">
  <div class="modalcontent">
    <div class="modalbox modaldesk">
      <div class="modalheader">
        <h4 class="modalheadtext">Forgot Password</h4>
      </div>
      <div class="modalbody">
        <div class="formgroup">
          <label>email</label>
          <input type="text" class="formtext">
        </div>
      </div>
      <div class="modalfooter">
        <div class="formgroup center">
          <button class="accountbtn">send OTP</button>
        </div>
      </div>
    </div>
  </div>
</div>